body {
    background-image: url(public/landingpage2.png);
    background-size: cover;
}

*{
    font-family: 'Inter', sans-serif;
}

h1{
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.nav a {
    font-size: large;
    font-weight: 200;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 120px;
    color: white;
}

.nav img {
    width: 35px;
}

.title h1{
    font-size: 3.5rem; text-align: center; margin-bottom: 50px;
}

.button{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; 
    color: black; 
    background-color: white; 
    margin: 10px auto; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: fit-content;
}
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    height: 50vh;
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;
}
.features h1 {
    font-size: 3.5rem; text-align: center; margin-bottom: 100px;
    background-color: white;
    color: black;
    width: 100%;
    margin-bottom: 50px;
}

.nba {
    background-image: linear-gradient(to right, #1D428A, #C8102E);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.form-container {
    diplay: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    gap: 20px;
}
.form-container input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid white;
    background-color: black;
    color: blue;
}

.form-container input::placeholder {
    color: grey;
}

.form-container button {
    margin-top: 20px;
}

.table-wrap {
    color: white;
}

.empty-msg {
    color: white
}